@{
    ViewBag.Title = "Kontak";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Handy Tantyo<br />
    Universitas Surya<br />
    <abbr title="Phone">P:</abbr>
    +62899-5677-755<br />
    <strong>Admin:</strong>   <a href="mailto:handy.tantyo14@student.surya.ac.id">handy.tantyo14@student.surya.ac.id</a><br />
</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@

<address>
    Nabyl Chataby<br />
    Universitas Surya<br />
    <abbr title="Phone">P:</abbr>
    +62817-111-116<br />
    <strong>Admin:</strong>   <a href="mailto:nabyl.chataby14@student.surya.ac.id">nabyl.chataby14@student.surya.ac.id</a><br />
</address>

