<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6ebce743-e09b-4ca1-986c-7f93002d690b/resourceGroups/financialcheckup/providers/Microsoft.Web/sites/financialcheckup</ResourceId>
    <ResourceGroup>financialcheckup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://financialcheckup.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>financialcheckup.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>financialcheckup</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$financialcheckup</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="tugasakhirEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:tugasakhirserver.database.windows.net,1433;Initial Catalog=tugasakhirDB;Persist Security Info=False;User ID=handy.tantyo14;Password=Admin2014;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:tugasakhirserver.database.windows.net,1433;Initial Catalog=tugasakhirDB;Persist Security Info=False;User ID=handy.tantyo14;Password=Admin2014;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SkripsiGabungan.Models.tugasakhirEntities, SkripsiGabungan" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="tugasakhirEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SkripsiDB.csdl|res://*/Models.SkripsiDB.ssdl|res://*/Models.SkripsiDB.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:tugasakhirserver.database.windows.net,1433;Initial Catalog=tugasakhirDB;Persist Security Info=False;User ID=handy.tantyo14;Password=Admin2014;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>